extends info

block details
    
    h1= 'Orden ' + order.OrderID + ' finalizada'
    h4(id="fechaH4")= 'Fecha de compra: '
    button(id="fechaButton" value=order.OrderDate, style="display: none;")
    .row
        .col-sm-8
            .table-responsive.cart_info
                table.content-table
                    thead
                        tr
                            td(style='max-width: 120px;').image Imagen
                            td videojuego
                            td Precio Unitario 
                            td Cantidad
                            td Total
                    tbody

                        each product in products
                            -var quantity = product.Quantity;
                            -var name = product.ProductName;
                            -var productLink = '/cat/' + product.CategorySlug + '/' + product.ProductSlug + '/' + product.ProductID;
                            -var unitPrice = product.ProductPrice;
                            -var productTotal = product.Total;
                            tr
                                td.cart_product
                                    a(href=productLink)
                                        img(src=product.Image, alt=name, style='width: 120px; border: none;')
                                td.cart_description
                                    h4
                                        a(href=productLink)= name
                                    p= product.Description
                                td
                                    p(style='color: #85BB65;')= ' $' + unitPrice
                                td.cart_quantity
                                    p=quantity
                                td
                                    p(style='color: #85BB65; font-weight: 1000;').cart_total_price= ' $' + productTotal

        .col-sm-4
            

            .table-responsive.cart_info

                table.content-table
                    thead
                        tr.cart_menu
                            td(colspan=2) Resumen de compra

                    tbody
                        tr
                            td Sub Total
                            td(style='color: #85BB65;')= ' $' + order.SubTotal
                        tr
                            td Descuento
                            td(style='color: red;')= ' $' + order.Discount
                        
                        tr
                            td Total
                            td(style='color: #85BB65; font-weight: 1000;')
                                span= ' $' + order.Total
                br
                br

            button.add-to-cart(onclick="ocultarCodigos()", id="ocultar", style="display: none;") Ocultar codigos
            button.add-to-cart(onclick="mostrarCodigos()", id="mostrar") Mostrar codigos
            br

            .table-responsive.cart_info

                table(id="tablaCodigos", style="display: none; width: 10px;").content-table
                    thead
                        tr
                            td(colspan=2) Códigos

                    tbody
                        each codigo in codigos
                            tr
                                td=codigo.ProductName
                                td(style='color: #85BB65;')=codigo.codigo
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br

    script(type='text/javascript').

        var fechaInicial = new Date(document.getElementById("fechaButton").value);
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var fechaFinal = fechaInicial.toLocaleDateString('es-ES', options);
        var tiempo = (fechaInicial.getHours()+1) + ":" + fechaInicial.getMinutes() + ":" + fechaInicial.getSeconds();

        document.getElementById("fechaH4").textContent += fechaFinal + " a las " + tiempo;
        //- alert(fechaFinal+tiempo);  

        function mostrarCodigos() {
            document.getElementById("tablaCodigos").style.display = "block";  
            document.getElementById("ocultar").style.display = "block"; 
            document.getElementById("mostrar").style.display = "none";   
        }

        function ocultarCodigos() {
            document.getElementById("tablaCodigos").style.display = "none";   
            document.getElementById("ocultar").style.display = "none"; 
            document.getElementById("mostrar").style.display = "block";    
        }