extends layout

block content
    section#form
        //form
        .container

            if checkOutNoti
                p(id="MessageError1", style="display: none;")=checkOutNoti
                p(id="MessageError2", value=signInError, style="display: none;")=''
            else
                p(id="MessageError1", style="display: none;")=''
                p(id="MessageError2", value=signInError, style="display: none;")=signInError
                p(id="MessageError3", value=signInErrorReset, style="display: none;")=signInErrorReset
            
            br
            br
            br
            br
            .center-login
                h1 Iniciar Sesión
                form(id='sign-in', action='/sign-in', method='POST', onsubmit = "return(validatexd());")
                    .txt_field
                        input(type='text', name='username', id='username')
                        span
                        label Usuario
                    p(id="errorUsuario" style="color: red; display: none;")
                    .txt_field
                        input(type='password', name='password', id='password')
                        span
                        label Contraseña
                    p(id="errorPassword" style="color: red; display: none;")
                    a(href='/reset-password')
                        .pass ¿Olvidaste tu  Contraseña?                                
                    input(type='submit', value='Iniciar Sesión')
                    .signup_link
                        | ¿Aún no tienes cuenta? 
                        a(href='/sign-up') Regístrate en Ecommerce
                br
                br
            br
            br
        br
        br
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(type='text/javascript').
        function validatexd() {

            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var aprobado = 1;

            var paragraph = document.getElementById("errorUsuario");
            paragraph.style.display = "none";
            if(username == "" || username.length < 1){
                paragraph.textContent = "*Por favor ingresa un usuario";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

            var paragraph = document.getElementById("errorPassword");
            paragraph.style.display = "none";
            if(password == "" || password.length < 1){
                paragraph.textContent = "*Por favor ingresa una contraseña";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

        
            if(aprobado == 0) {
                return( false );
            }else if(aprobado == 1) {
                return( true );
            }
            
        }

        var MessageError = document.getElementById("MessageError1").textContent;
        if (MessageError != ''){
            Swal.fire({icon: 'warning',
                        title: 'Operación invalida',
                        confirmButtonColor: '#005A9C',
                        text: 'Necesitas ingresar a Ecommerce para poder realizar esta operación',
                        footer: '<a href="/sign-up">Regístrate aquí si aún no tienes una cuenta</a>'});
        }

        var MessageError2 = document.getElementById("MessageError2").textContent;
        if (MessageError2 != ''){
            Swal.fire({icon: 'warning',
                        title: 'Datos invalidos',
                        confirmButtonColor: '#005A9C',
                        text: MessageError2});
        }

        var MessageError3 = document.getElementById("MessageError3").textContent;
        if (MessageError3 != ''){
            Swal.fire({icon: 'success',
                        title: 'Email enviado',
                        confirmButtonColor: '#005A9C',
                        text: MessageError3});
        }

        