extends layout

block content
    section#form
        //form

        .container
                    if checkOutNoti
                            if (signUpError != '')
                                p=signUpError+"xd1"
                            else
                                p=checkOutNoti+"xd2"
                        else
                            if (signUpError != '')
                                p(id="MessageError", value=signUpError, style="display: none;")=signUpError
                    .center-login
                        h1 Regístrate en Iocus

                        form(id='sign-up', action='/sign-up', method='POST')
                            .txt_field
                                input(type='text', name='fullName', required=true)
                                span
                                label Nombre completo
                            .txt_field
                                input(type='email', name='email', required=true)
                                span
                                label Correo electronico
                            .txt_field
                                input(type='text', name='phone', required=true)
                                span
                                label Celular
                            .txt_field
                                input(type='text', name='username', required=true)
                                span
                                label Usuario
                            .txt_field
                                input(type='password', required=true , name='password')
                                span
                                label Contraseña
                            .txt_field
                                input(type='password', required=true , name='rePassword')
                                span
                                label Confirmar Contraseña
                            input(type='submit', value='Regístrate')
                            .signup_link
                                | ¿Ya tienes una cuenta? 
                                a(href='/sign-in') Inicia Sesión en Iocus
                                br
                                br

    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(type='text/javascript').

        var MessageError = document.getElementById("MessageError").textContent;
        console.log(document.getElementById("MessageError").textContent); 
        if (MessageError != ''){
            Swal.fire({icon: 'warning',
                        title: 'Datos invalidos',
                        text: MessageError});
        }